*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{ 
    background-image: url(https://www.copilotsearch.com/uploads/00_used_car_lot-2ajwf7c.jpg);
    background-size: cover;
    background-position: 50% 10%;
    font-family: sans-serif;
    position: sticky;
    background-repeat: no-repeat;
}
.menu-bar
{
    background: rgba(168, 140, 140, 0.397);
    text-align: center;
    position: sticky;
}
.menu-bar ul 
{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li
{
width: 120px;
margin: 15px;
padding: 15px;
}
.menu-bar ul li a
{
text-decoration: none;
color: #fff;
}
.active, .menu-bar ul li:hover
{
    background: rgb(44, 44, 44);
    border-radius: 5px;
    width: auto;
}
.menu-bar .fa
{
    margin-right: 8px;
}
.sub-menu-1 
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(44, 44, 44);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
display: block;
margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color:  rgb(177, 163, 163);
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background-color:rgb(44, 44, 44);
}
.title 
{
    text-align: center;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(44, 44, 44)
}
.home-des
{
    text-align: center;
    margin-top: 300px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color:rgb(44, 44, 44);
    border-style: groove;
    display: inline-block;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 40px;
}
  .rep-text 
  {
    text-align: center;
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color:rgb(44, 44, 44);
    border-style: groove;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 35px;
    background-color:rgb(44, 44, 44);
    margin-bottom: 150px;
<<<<<<< Updated upstream
=======
    width: 35%;
  }
  #contact_form {
    background-color: #dbc1a300;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    }
  
  .row label{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
  }
  
  input[type=text], textarea {
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
    margin: auto 0;
    color: #332828;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #444b4b;
    }
  
  input[type=text] {
    height: 25px;
  }
  
  input[type=submit] {
    background-color: #423934;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 10px;
    box-shadow: 5px 5px 5px #3e4444;
  }

 .rep-pics 
 {
    height: 500px;
    width: 700px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 110px;
    margin-bottom: 50px;
 }

 .rep-title
 {
    margin-left: 31.75%;
    display: inline-block;
    position: relative;
    top: 110px;
    background-color: #444b4b;
    color: #FFFFFF;
    padding: 5px;
 }


.button-that-opens-the-popup {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 150px;
    background-color: #f5f5f5;
    color: black;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    padding: 5px;
}

.popup {
    width: 500px;
    height: 343px;
    padding: 30px, 20px;
    background: #f5f5f5;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 9;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}

.popup.active{
    opacity: 1;
    top: 50%;
    transform:translate(-0%, -0%) scale(1);
    transition: all 300ms cubic-bezier(0.18, 0.89,0.43, 1.19);
}

.popup .title {
    text-align: center;
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.popup .textarea {
    position: relative;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 6px;
    margin: auto 0;
    color: #332828;
    top: 20%;

}

.popup .close-button {
    position: relative;
    margin-top: 56px;
}

.popup .close-button button {
    padding: 10px, 10px;
    background-color: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup .close-button button:hover {
    color: #111;
    background: #f5f5f5;
}

.background-img
{
    position: cover;
    height: auto;
    width: auto;
    /* margin-top: 110px;
    margin-bottom: 50px; */

    
}

.small_rep_pic
{
    height: 300px;
    width: 300px;
    margin-left: 50%;
    margin-right: 50%;
    top: -500px;
}



.button-that-opens-the-EstPop {
    position: absolute;
    margin-top: 11%;
    margin-left: 94%;
    top: 100%;
    background-color: #ca7f7f;
    color: black;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    padding: 5px;
}

.EstPop {
    position: sticky;
    margin: auto;
    margin-top: 18%;
    
    width: 511px;
    height: 343px;
    padding: 30px, 20px;
    background: #ddb2b2;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 9;
    text-align: center;
    opacity: 0;
    top: -200%;
    transform: scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
}

.EstPop.active{
    opacity: 1;
    top: 50%;
    transform:translate(-0%, -0%) scale(1);
    transition: all 300ms cubic-bezier(0.18, 0.89,0.43, 1.19);
}



.EstPop .close-button {
    position: fixed;
    margin-top: 56px;
}

.EstPop .close-button button {
    padding: 10px, 10px;
    background-color: #111;
    color: #f5f5f5;
    border: 2px solid #111;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.EstPop .close-button button:hover {
    color: #111;
    background: #f5f5f5;
}

.EstPop .slidecontainer {
    position: sticky;
    margin-top: 50px;
    width: 80%; /* Width of the outside container */
  }
  
  /* The slider itself */
.EstPop .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .EstPop .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .EstPop .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .EstPop .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  .DownPay{
    position: relative;
    margin-right: 80%;
>>>>>>> Stashed changes
  }