.App {
  text-align: center;
}

body{ 
  background-image: url("Components/Img.jpg");
  background-size: cover;
  background-position: 50% 0%;
  font-family: sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.Home,
.Cars,
.Representatives,
.Account,
.Support {
  left: 86.97916667%;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.CurrentUser{
  position: relative;
  margin-left: 10px;
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.Account-form{
  align-self: center;
  height: 800px;
  width: 50%;
  margin-left: 5%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 9px;
  color: black;
}

.Account-register{
  position: relative;
  left: 5%;
  padding: 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.Account-register input{
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px;
}

.Account-login{
  position: relative;
  left: 5%;
  padding: 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.Account-login input{
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px;
}

.RegisterButton{
  position: relative;
  margin-top: 15px;
  left: 36.5%;
  background-color: #89CFF0;
  width: 25%;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 9px;
  border-width: 1px;
  border-color: #6ac6f7;
  border-style: groove;
}

.RegisterButton:hover{
  cursor: pointer;
  border-color: #89CFF0;
  background-color: #6ac6f7;
}

.LoginButton{
  position: relative;
  margin-top: 15px;
  left: 41%;
  background-color: #89CFF0;
  width: 15%;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 9px;
  border-width: 1px;
  border-color: #6ac6f7;
  border-style: groove;
}

.LoginButton:hover{
  cursor: pointer;
  border-color: #89CFF0;
  background-color: #6ac6f7;
}

.LogoutButton{
  position: relative;
  margin-top: 15px;
  left: 41%;
  background-color: #89CFF0;
  width: 15%;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 9px;
  border-width: 1px;
  border-color: #6ac6f7;
  border-style: groove;
}

.LogoutButton:hover{
  cursor: pointer;
  border-color: #89CFF0;
  background-color: #6ac6f7;
}


.nav-menu {
  background-color: #89CFF0;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  border-top-right-radius: 5px;
}

.Logo{
  position: relative;
  right: 170%;
  width: 170px;
  height: 60px;
}


.nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  padding-left: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 15%;
  border-radius: 2px;
  transition: 70ms;
}

.nav-text a:hover {
  margin-right: 13%;
  background-color: #6ac6f7;
  color: #fff;
  transition: 70ms;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}

/* Start of Loan Est */
.LoanEst .loanEstBox{
  display: block;
  margin-left: 30%;
  margin-top: 5%;
}

/* Title */
.loanEstBox .Title{
  display: flex;
  position:absolute;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
  width: 100%;
  margin-left: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

/* Box */
.loanEstBox{
  width: 1000px;
  height: 700px;
  margin-left: -200px;
  border-radius: 10px;
  margin-top: -40px;
  padding: 0;
  background: #f0f0f0;
  border-color: rgb(0, 0, 0);
  border-width: 03px;
  border-style: solid;
}
/* Top bar */
.loanEstBox .TopBar{
  display:block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 994px;
  height: 70px;
  background: hsl(0, 0%, 79%);
  
}
/* Inputs*/
.loanEstBox .inputs{
  display: block;
  background: #6ac6f7;
  width: 230px;
  height: 600px;
  border-right-style:solid;
  border-right-color: #000000;
  border-right-width: 3px;
}
.inputs .CarPrice,
.DownPay,
.LLength,
.Credit {
  width: 200px;
  height: 100px;
  display: block;
  background: #d5f0ff;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border-style:inset;
  scale: 100%;
}

.CarPrice .PriceInput,
.DownPayInput,
.LLengthInput,
.CreditInput{
  width: 150px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border-width: 1px;

}
.CarPrice .PriceText,
.PriceText,
.DownPayText,
.LLengthText,
.CreditText{
  font-family:'Gill Sans';
  font-size: 25px;
  height: 30%;
  margin-left: 10px;
}


/* Old CSS
/* Intrest rate total*/

/* inputs in general*/
/* Input Box *//*
.loanEstBox 
.CreditBox, 
.ExtraBox, 
.IncomeBox, 
.TradeInBox, 
.DownPayBox, 
.lengthBox, 
.priceBox{
  position: absolute;
  margin-top: 30px;
  margin-left: 10px;
  width: 220px;
  height:110px;
  border-radius: 20px;
  background: #ebf1b5;
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
/* Margining boxes *//*
.loanEstBox .CreditBox{margin-left: 250px;}
.loanEstBox .ExtraBox {margin-left: 490px}
.loanEstBox .IncomeBox{margin-left: 730px}
.loanEstBox .TradeInBox{margin-left:10;;}
.loanEstBox .DownPayBox{margin-left: 10px; margin-top: 420px;}
.loanEstBox .lengthBox{margin-left: 10px; margin-top: 290px;}
.loanEstBox .priceBox{margin-left: 10px; margin-top: 160px;}
/* Input Spaces*//*
.loanEstBox .CreditInput,
.ExtraInput, 
.IncomeInput, 
.TradeInInput, 
.DownPayInput, 
.lengthInput, 
.priceInput{
  position: absolute;
  margin-top: 60px;
  margin-left: 7px;
  border-radius: 10px;
}
/*Input Titles *//*
.loanEstBox .CredText,
.ExtraText, 
.IncomeText, 
.TradeInText, 
.DownPayText, 
.lengthText, 
.priceText{
  position: absolute;
  text-align: center;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 10px;
  font-family: 'Gill Sans';
}
.DownPayText{
  margin-left: 10px;;
}
   Bad design     */

/* End of Loan Est */