.App {
  text-align: center;
}

/* body{ 
  background-image: url("Components/car\ lot\ but\ better.jpg");
  background-size: cover;
  background-position: 50% 0%;
  font-family: sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
} */

body{
  background-color: #fff;
}

/* !!!! Start of Pages !!!! */
.Home,
.Cars,
.Representatives,
.Account,
.Support,
.About,
.Contact,
.Login,
.SignUp {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: blue;
}
/* !!!! End of Pages !!!! */

/* !!!! Start of NavBar !!!! */
.NavBar{
  background-color: #89CFF0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 10%;
}

.NavBar-col{
  margin-left: -33%;
  margin-top: 70px;
}

.NavBar-links1{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
  white-space: nowrap;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 3%;
  margin-left: 3%;
  right: 60.5%;
  margin-top: 7px;
  left: -15%;
}

.NavBar-links2{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
  white-space: nowrap;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 3%;
  margin-left: 3%;
  right: 60.5%;
  margin-top: 90px;
  left: -50%;
}

.Nav2{
  margin-left: 55%;
  padding-bottom: 90px;
}

.Sign-Up{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: larger;
  white-space: nowrap;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 3%;
  margin-left: 3%;
  right: 60.5%;
  margin-top: 90px;
  background-color: #b3e2f5;
  left: -50%;
}

.NavBar-links1:hover{
  text-decoration: none;
  color: white;
  background-color: #2CB3F2;
}

.NavBar-links2:hover{
  text-decoration: none;
  color: white;
  background-color: #2CB3F2;
}

.Sign-Up:hover{
  text-decoration: none;
  color: #55B7E5;
}

.Logo{
  position: fixed;
  height: 82px;
  width: 246px;
  left: 1%;
  top: .5%;
}
/* !!!! End of NavBar !!!! */

/* Start of Loan Est */
.LoanEst .loanEstBox{
  display: block;
  margin-left: 30%;
  margin-top: 5%;
}

/* Title */
.loanEstBox .Title{
  display: flex;
  position:absolute;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: bold;
  width: 100%;

  margin-left: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

/* Box */
.loanEstBox{
  position: relative;
  width: 1000px;
  height: 700px;
  margin-left: -200px;
  border-radius: 10px;
  margin-top: -40px;
  padding: 0;
  background: #f0f0f0;
  border-color: rgb(0, 0, 0);
  border-width: 03px;
  border-style: solid;
}
/* Top bar */
.loanEstBox .TopBar{
  display:block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 994px;
  height: 70px;
  background: hsl(0, 0%, 79%);

}
/* Inputs*/
.loanEstBox .inputs{
  display: absolute;
  background: #c9c9c9;
  width: 230px;
  height: 624px;
  border-right-style:solid;
  border-right-color: #000000;
  border-right-width: 2px;
  border-top-color: #000000;
  border-top-width: 2px;
  border-top-style:solid;
}
.inputs .CarPrice,
.DownPay,
.LLength,
.Credit {
  width: 200px;
  height: 100px;
  display: inline-block;
  background: #b3e2f5;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 10px;
  border-style:solid;
  scale: 100%;
}

.CarPrice .PriceInput,
.DownPayInput,
.LLengthInput,
.CreditInput{
  width: 150px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border-width: 1px;

}
.CarPrice .PriceText,
.PriceText,
.DownPayText,
.LLengthText,
.CreditText{
  font-family:'Gill Sans';
  font-size: 25px;
  height: 30%;
  margin-left: 10px;
}
.Enter .enterBtn{
  display: block;
  width: 100px;
  height: 50px;
  margin-top: 20px;
  margin-left: 65px;
}
.enterBtn:hover{
  background-color: #bbe7ff;
  border-width: 1px;
 font-size: 20px;
  
}
/* Outputs*/
.loanEstBox .Outputs{
  position: absolute;
  width: 764px;
  background: #dfdfdf;
  margin-left: 230px;

}


