.App {
  text-align: center;
}

body{ 
  background-image: url("Components/Img.jpg");
  background-size: cover;
  background-position: 50% 0%;
  font-family: sans-serif;
  position: relative;
  top: 0;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;
}

.Home,
.Cars,
.Representatives,
.LoanEst,
.Account,
.Support {
  left: 86.97916667%;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

.CurrentUser{
  position: relative;
  margin-left: 10px;
  align-items: left;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.Account-form{
  align-self: center;
  height: 800px;
  width: 50%;
  margin-left: 5%;
  min-width: 400px;
  background-color: #fff;
  border-radius: 9px;
  color: black;
}

.Account-register{
  position: relative;
  left: 5%;
  padding: 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.Account-register input{
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px;
}

.Account-login{
  position: relative;
  left: 5%;
  padding: 7px;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.Account-login input{
  margin-bottom: 10px;
  border-radius: 4px;
  border-width: 1px;
}

.RegisterButton{
  position: relative;
  margin-top: 15px;
  left: 36.5%;
  background-color: #89CFF0;
  width: 25%;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 9px;
  border-width: 1px;
  border-color: #6ac6f7;
  border-style: groove;
}

.RegisterButton:hover{
  cursor: pointer;
  border-color: #89CFF0;
  background-color: #6ac6f7;
}

.LoginButton{
  position: relative;
  margin-top: 15px;
  left: 41%;
  background-color: #89CFF0;
  width: 15%;
  font-size: large;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 9px;
  border-width: 1px;
  border-color: #6ac6f7;
  border-style: groove;
}

.LoginButton:hover{
  cursor: pointer;
  border-color: #89CFF0;
  background-color: #6ac6f7;
}


.nav-menu {
  background-color: #89CFF0;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  border-top-right-radius: 5px;
}

.Logo{
  position: relative;
  bottom: 2%;
  right: 7%;
  width: 250px;
  height: 250px;
}


.nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 90%;
  padding-left: 15px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 15%;
  border-radius: 2px;
  transition: 70ms;
}

.nav-text a:hover {
  margin-right: 13%;
  background-color: #6ac6f7;
  color: #fff;
  transition: 70ms;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}
